/* Importando */
@import url(sidebar.css);
@import url(chat.css);
/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'FlastyTrial';
    src: url(../assets/fonts/flasty.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #5A3B5C;
}

.container {
    background: rgb(17,6,26);
    background: linear-gradient(90deg, rgba(17,6,26,1) 35%, rgba(24,20,30,1) 59%, rgba(17,6,26,1) 100%);
    width: 99vw;
    height: 100vh;
    margin: 0 auto;
}

header {
    display: flex;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#logo-header {
    width: 200px;
}

#nav-header li {
    display: inline;
    font-family: 'Rajdhani';
    font-size: 2em;
    font-weight: bold;
    padding-left: 40px;
}